/*===footer style===*/

/* footer style */

footer {
	align-items: center;
	background-color: #00FF00;
	height: 60px;
	width: 100%;
	display: flex;
	bottom: 0;
	position: absolute;
	justify-content: center;
}
